*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a{
  color: rgb(104, 179, 120);
  text-decoration: none;
}
.container{
padding: 0 2rem;
}
.btn{
  display: inline-block;
  border: none;
  background: #666;
  color: #fff; 
   padding: 7px 20px;
  cursor: pointer;
}
.btn:hover {
  background: rgb(104, 179, 120);
}